html {
	color: darkslategray;
	background-color: #fffefd;
}





/******************************************* UserDetails *******************************************/

#user-details form {
	margin-top:40px;
}

#user-details .input-top-margin {
	margin-top:10px;
}